*
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none
  list-style: none
  color: inherit
  border: none
  outline: none

:root
  --background-color: #efefef
  --text-color: #303030
  --primary-color: #0099ff

body
  background: var(--background-color)
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

main
  display: flex
  flex-direction: column
  gap: 50px
  padding: 50px 2rem 100px 2rem